.searchInputWrap {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
}

.searchInput {
  width: 100%;
  padding: 18px 16px 18px 60px;

  background: rgba(255,255,255,0.04);
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 10px;

  color: #fff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.3px;

  backdrop-filter: blur(8px);
  transition: all 0.25s ease;
  outline: none;

  &::placeholder {
    color: rgba(255,255,255,0.4);
    font-weight: 400;
    font-size: 18px;
  }

  &:focus {
    background: rgba(255, 255, 255, 0.07);
  }

  &:hover {
    background: rgba(255,255,255,0.06);
  }
}

.searchClearBtn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);

  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255,255,255,0.07);
  border: 1px solid rgba(255,255,255,0.15);
  border-radius: 50%;

  cursor: pointer;
  font-size: 14px;
  color: #fff;

  transition: all 0.2s ease;

  &:hover {
    background: rgba(255,255,255,0.2);
    box-shadow: 0 0 10px rgba(255,255,255,0.35);
  }

  &:active {
    transform: translateY(-50%) scale(0.9);
  }
}


.search {
  position: absolute;
  z-index: 100;
  left: 20px;
  opacity: .8;
}