.Skeleton {
  background: linear-gradient(
                  100deg,
                  #2a2a2a 40%,
                  #2a2a2a 50%,
                  #2a2a2a 60%
  );
  background-size: 200% 100%;
  animation: shimmer 1.2s ease-in-out infinite;
}

@keyframes shimmer {
  to {
    background-position: -200% 0;
  }
}

